.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #ffffff;
  height: 1024px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.sophie-dong {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 50px;
  top: 31px;
  width: 153px;
  height: 35px;
}
.home {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1094px;
  top: 39px;
  width: 55px;
  height: 15px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1207px;
  top: 39px;
  width: 43px;
  height: 22px;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: 1308px;
  top: 39px;
  width: 55px;
  height: 15px;
}
.contact-us-reach-out-to-the-course-team-for-support-or-inquiries-professor-contact-sophie-dong-sdogn-124-umd-edu-paul-t-shapiro-pshapiro-umd-edu-ta-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu {
  color: #000000;
  text-align: left;
  position: absolute;
  left: 121px;
  top: 31px;
  width: 1255px;
  height: 753px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact-us-reach-out-to-the-course-team-for-support-or-inquiries-professor-contact-sophie-dong-sdogn-124-umd-edu-paul-t-shapiro-pshapiro-umd-edu-ta-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 72px;
  line-height: 30px;
  font-weight: 700;
}
.contact-us-reach-out-to-the-course-team-for-support-or-inquiries-professor-contact-sophie-dong-sdogn-124-umd-edu-paul-t-shapiro-pshapiro-umd-edu-ta-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu-span2 {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
}
.sophie-dong-university-of-maryland-fall-2025 {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 910px;
  width: 1159px;
  height: 98px;
  display: flex;
  align-items: center;
  justify-content: center;
}
